/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.transition{
    -webkit-transition: all 0.25s ease-in-out 0s;
       -moz-transition: all 0.25s ease-in-out 0s;
        -ms-transition: all 0.25s ease-in-out 0s;
         -o-transition: all 0.25s ease-in-out 0s;
            transition: all 0.25s ease-in-out 0s;
}
.center{
    max-width: 960px;
    margin: 0 auto;
}
.full{
    float: left;
    width: 100%;
}
.header{
    min-height: 120px;
    background-color: #fff;
}
    a.logo{
        display: block;
        float: left;
        width: 295px;
        height: 79px;
        margin: 35px 0 0 31px;
        background: url('../img/logo.png') no-repeat 0 0;
    }
        a.logo:hover{
            opacity: 0.7;
            filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        }
    .navigation{
        height: 35px;
        border: 1px solid #e2dfdd;
        background-color:fff;
        position: relative;
        z-index: 99;
        margin-top: 15px;
        background-color: #F6F6F6;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F6F6F6), color-stop(.5,#F9F9F9));
        background: -moz-linear-gradient(top, #FFFFFF 0%, #F9F9F9 50%, #F6F6F6 100%);
    }
        .navigation ul{
            margin: 0 0 0 45px;
            padding: 0;
        }
            .navigation ul li{
                margin-top: 6px;
                position: relative;
                display: inline-block;
                vertical-align: top;
                zoom: 1; /* Fix for IE7 */
                *display: inline; /* Fix for IE7 */
            }
               
                /*submenu*/
                .navigation ul > li > ul{
                    position: absolute;
                    top: 30px;
                    display: none;
                    left: 0;
                    -webkit-border-bottom-right-radius: 3px;
                    -webkit-border-bottom-left-radius: 3px;
                    -moz-border-radius-bottomright: 3px;
                    -moz-border-radius-bottomleft: 3px;
                    border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px;
                    width: 215px;
                    padding: 5px 20px 15px;
                    margin-left: 0;
                    border-left: 1px solid #c1c6c1;
                    border-right: 1px solid #c1c6c1;
                    border-bottom: 1px solid #c1c6c1;
                    background-color: #F5F5F5;
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F5F5F5), color-stop(.5,#F9F9F9));
                    background: -moz-linear-gradient(top, #FFFFFF 0%, #F9F9F9 50%, #F5F5F5 100%);
                }
                    .navigation ul > li.solucoes{
                        padding-bottom: 12px;
                    }
                    .navigation ul > li.solucoes:hover > ul.submenu{
                        display: block;
                    }
                    .navigation ul > li > ul li{
                        width: 100%;
                    }
                    .navigation ul > li > ul li a{
                        font-size: 14px;
                    }
                /*end submenu*/


                .navigation > ul > li + li{
                    margin-left: 30px;
                }
                .navigation ul li a{
                    font: 300 18px 'Raleway', arial, verdana;
                    color: #867870;
                    text-decoration: none;
                    -webkit-transition: all 0.25s ease-in-out 0s;
                       -moz-transition: all 0.25s ease-in-out 0s;
                        -ms-transition: all 0.25s ease-in-out 0s;
                         -o-transition: all 0.25s ease-in-out 0s;
                            transition: all 0.25s ease-in-out 0s;
                }
                .navigation ul li a:hover,
                .navigation ul li a.active{
                    color: #f05423;
                }
    #login{
        width: 300px;
        height: 90px;
        float: right;
        margin-top: 20px;
    }
        #login form{
            display: block;
            width: 100%;
            height: 30px;
            float: left;
        }
            #login form input{
                float: left;
                font: normal 14px arial, verdana, tahoma;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
            }
            #login form input + input{
                margin-left: 8px;
            }
            #login form input[type="text"],
            #login form input[type="password"]{
                width: 106px;
                padding: 5px 11px;
                background-color: #ececec;
                border: none;
            }
            #login form input[type="submit"]{
                margin-left: 5px;
                padding: 5px 5px;
                font: bold 14px arial;
                color: #015cae;
                border: none;
                background-color: #E4E4E4;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#E4E4E4), color-stop(.5,#F0F0F0));
                background: -moz-linear-gradient(top, #F0F0F0 0%, #F0F0F0 50%, #E4E4E4 100%);
                -webkit-transition: all 0.25s ease-in-out 0s;
                   -moz-transition: all 0.25s ease-in-out 0s;
                    -ms-transition: all 0.25s ease-in-out 0s;
                     -o-transition: all 0.25s ease-in-out 0s;
                        transition: all 0.25s ease-in-out 0s;
            }
            #login form input[type="submit"]:hover{
                background-color: #F0F0F0;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5E5E5), to(#F0F0F0), color-stop(.5,#E5E5E5));
                background: -moz-linear-gradient(top, #E5E5E5 0%, #E5E5E5 50%, #F0F0F0 100%);
            }
            ::-webkit-input-placeholder {
               color: #6e6e6e;
            }

            :-moz-placeholder { /* Firefox 18- */
               color: #6e6e6e;  
            }

            ::-moz-placeholder {  /* Firefox 19+ */
               color: #6e6e6e;  
            }

            :-ms-input-placeholder {  
               color: #6e6e6e;  
            }
        .phone{
            display: block;
            float: right;
            font: 300 14px 'Raleway', arial, verdana;
            color: #867870;
        }
            .phone strong{
                font-weight: 800;
            }                     

.banner{
    min-height: 313px;
    margin-top: -17px;
    background: url('../img/bg-slider.jpg') repeat-x center top;
}
.banner.only{
    min-height: 66px;
}
    .banner .item{
        width: 960px;
        height: 313px;
        float: left;
        position: relative;
    }
        .banner .item img{
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
        }
        .banner .item .item-box-content{
            width: 395px;
            float: left;
            margin-left: 47px;
            margin-top: 70px;
            position: relative;
            z-index: 10;
            font-family: arial, verdana;
            color: #867870;
        }
        .item-box-content p{
            font-size: 12px;
        }
        .item-box-content p.big{
            font-size: 25px;
            margin-top: 15px;
            line-height: 31px;
        }
        a.btn, .form form input[type="submit"]{
            padding: 10px 15px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            background-color: #f05423;
            text-decoration: none;
            font-size: 14px;
            color: #fff;
            display: inline-block;
            vertical-align: top;
            zoom: 1; /* Fix for IE7 */
            *display: inline; /* Fix for IE7 */
        }
        a.btn:hover, .form form input[type="submit"]:hover{
            background-color: #867870;
        }

.conteudo{
    background: url('../img/bg.png') repeat-x left top;
}
    .content-box{
        max-width: 1000px;
        margin: 0 auto;
        background-color: #fff;
        position: relative;
    }
        .content-box .shadow{
            position: absolute;
            top: 0;
            width: 16px;
            height: 150px;
        }
        .content-box .shadow-left{
            background: url('../img/shadow-left.png') no-repeat 0 0;
            left: -16px;
        }
        .content-box .shadow-right{
            background: url('../img/shadow-right.png') no-repeat 0 0;
            right: -16px;
        }
        
        .content-box article{
            min-height: 500px;
        }
            h1.title{
                font: bold 24px 'Arial Black', verdana, tahoma;
                color: #f05423;
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #e2dfdd;
            }
            article p, ul li,article{
                font: normal 14px arial, verdana, tahoma;
                color: #867870;
                list-style: none;
            }
            article ul li{
                margin-bottom: 5px;
            }
            article ul li > ul{
                margin-left: 15px;
            }
            article img{
                margin: 1em 0;
                -webkit-transition: all 0.25s ease-in-out 0s;
                   -moz-transition: all 0.25s ease-in-out 0s;
                    -ms-transition: all 0.25s ease-in-out 0s;
                     -o-transition: all 0.25s ease-in-out 0s;
                        transition: all 0.25s ease-in-out 0s;
            }
            article a:hover img{
                -webkit-transform: scale(0.9);
                   -moz-transform: scale(0.9);
                    -ms-transform: scale(0.9);
                     -o-transform: scale(0.9);
                        transform: scale(0.9);
            }
            article ul{
                margin: 0;
                padding: 0;
            }
            article ul li h2{
                margin: 0;
            }
            article h2{
                font-size: 15px;
                margin-bottom: 5px;
                margin-top: 25px;         
            }
            article p a{
                color: #867870;
                -webkit-transition: all 0.25s ease-in-out 0s;
                   -moz-transition: all 0.25s ease-in-out 0s;
                    -ms-transition: all 0.25s ease-in-out 0s;
                     -o-transition: all 0.25s ease-in-out 0s;
                        transition: all 0.25s ease-in-out 0s;
            }
            article p a:hover{
                text-decoration: none;
                color: #f05423;
            }
            table{
                border: 2px solid #f05423;
            }
            table th, table td{
                padding: 10px;
                text-align: left;
                vertical-align: middle;
            }
            table tr + tr{
                border-top: 1px solid #867870;
            }
            table td{
                background-color: #f2f1f1;
            }
            
            .box-servicos{
                border-top: 1px solid #e2dfdd;
                padding: 20px 0;
                margin-top: 32px;
                margin-bottom: 32px;
            }
                .box-servicos ul{
                    margin: 0;
                    padding: 0;
                }
                    .box-servicos ul li{
                        border: 1px solid #e2dfdd;
                        border-radius: 3px;
                        -moz-border-radius: 3px;
                        -webkit-border-radius: 3px;
                        display: block;
                        margin-bottom: 10px;
                        margin-right: 11px;
                        width: 310px;
                        height: 199px;
                        float: left;
                        text-align: center;
                        background-color: #F5F5F5;
                        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F5F5F5), color-stop(.5,#F9F9F9));
                        background: -moz-linear-gradient(top, #FFFFFF 0%, #F9F9F9 50%, #F5F5F5 100%);
                    }
                    .box-servicos ul li.no-margin{
                        margin-right: 0;
                    }
                    .box-servicos ul li:hover{
                        background-color: #F9F9F9;
                        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9F9), to(#F9F9F9), color-stop(.5,#F9F9F9));
                        background: -moz-linear-gradient(top, #F9F9F9 0%, #F9F9F9 50%, #F9F9F9 100%);
                    }
                    .box-servicos ul li a{
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        vertical-align: top;
                        zoom: 1; /* Fix for IE7 */
                        *display: inline; /* Fix for IE7 */
                    }
                    .box-servicos ul li h2{
                        font: 900 14px 'Raleway', arial, verdana;
                        color: #a2a2a2;
                        text-transform: uppercase;
                    }
                    img.base{
                        margin: 0 0 42px;
                    }
                    img.listas{
                        margin-bottom: 14px;
                    }
                    img.consultas{
                        margin-bottom: 30px;
                    }
                    img.sms{
                        margin: 15px 0 6px;
                    }
                    img.email{
                        margin: 38px 0 25px;
                    }
                    img.itrade{
                        margin: 20px 0 15px;
                    }
        .coluna-esq{
            width: 530px;
        }
        .coluna-dir{
            width: 430px;
        }


/* Seja um representante */
.representante{
    background: url('../img/bg-representante.jpg') no-repeat right top;
}
.content-all{
    min-height: 430px;
}
.form{
    width: 480px;
    float: left;
    margin-top: 15px;
    margin-bottom: 30px;
}
    .form form > div{
        margin-bottom: 10px;
        float: left;
        width: 100%;
    }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="telefone"],
        select, textarea{
            border: 1px solid #cccccc;
            padding: 3px 5px;
            width: 470px;
            font: normal 14px arial, verdana;
            color: #867870;
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus,
        input[type="telefone"]:focus,
        select:focus, textarea:focus{
            background-color: #f2f1f1;
        }
        select{
            width: 482px;
        }
        textarea{
            height: 94px;
        }
        form div label{
            font: normal 14px arial, verdana;
            color: #867870;
            width: 100%;
            margin-bottom: 2px;
            display: inline-block;
            vertical-align: top;
            zoom: 1; /* Fix for IE7 */
            *display: inline; /* Fix for IE7 */
        }
        form div label span{
            color: #f05423;
            font-weight: bold;
            font-size: 15px;
        }
        span.radio{
            float: left;
            display: block;
            margin-right: 20px;
            margin-top: 5px;
        }
        span.radio label{
            cursor: pointer;                    
        }
        .form form input[type="submit"]{
            border: none;
            float: right;
            padding: 5px 30px;
            font-weight: bold;
            margin-top: 3px;
        }
        .error input{
            border-color: #fd0202;
        }
        .error label{
            color: #fd0202;
        }
.fale-conosco{
    background: url('../img/bg-fale-conosco.jpg') no-repeat right top;
}



footer > div{
    border-top: 1px solid #e2dfdd;
    height: 100px;
}
footer > div p{
    font: 300 14px 'Raleway', arial, verdana;
    color: #867870;
}
footer p.left{
    float: left;
    line-height: 20px;
}
footer p.left a{
    color: #867870;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out 0s;
       -moz-transition: all 0.25s ease-in-out 0s;
        -ms-transition: all 0.25s ease-in-out 0s;
         -o-transition: all 0.25s ease-in-out 0s;
            transition: all 0.25s ease-in-out 0s;
}
footer p.left a:hover{
    color: #f05423;
}
footer p.right{
    float: right;
    text-align: right;
}

#back-to-top {
position: fixed;
z-index: 1000;
bottom: 20px;
right: 70px;
display: none;
}
#back-to-top a {
    outline: 0 !important;
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.5) url(../img/backtotop.png) no-repeat center center;
    text-indent: -9999px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
}
#back-to-top a:hover {
background-color: #f05423;
}












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.left{
    float: left;
}
.right{
    float: right;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}